 <div class="row-fluid">     

  <div class="span4" id="video-search">
    				    <h4>Search</h4>
               <form action = "/search" id="yt-search-box">
                          <input type="text" name="keyword" id="ytSearchBox" placeholder="Type and Hit Enter" required/>
                       </form> 
  </div>  


  <div class="span8">
    <% if @questions.any? %>
      	<h3>Questions Asked</h3>
      		<ol class="questions">
      			<%= render @questions %>
      		</ol>
      		
    <% end %>
  </div>


  </div> 

 
     