<div class="container" id="primary-stuffs">
            <div class="row-fluid">
    			<div class="span4" id="video-search">
    				   <h4>Search Videos</h4>
				       <form action = "/search" id="yt-search-box">
                          <input type="text" name="keyword" id="ytSearchBox" placeholder="Type and Hit Enter" required/>
                       </form>
                     <div id="video-results">
                         <h3>Video Results</h3>
                       <ul>
   
                           <% @videos.each do |video| %>
                              <% video_id = video['video_id']
                              url = "http://www.youtube.com/watch?v="+video_id 
                              thumbnail_url = "http://img.youtube.com/vi/"+video_id+"/1.jpg"
                              vid_id_quoted = '"'+video_id+'"' %>
                              <li> <%= link_to "#{video['title']}",'#', :rel => "#{video_id}", :class =>'youtube' %> </li>
                             
                             <%= link_to image_tag("#{thumbnail_url}"),'#',:rel => "#{video_id}", :class =>'youtube' %>
                             <!-- <img src=<%="#{thumbnail_url}" %> style=""/>
                             <a class="youtube" rel="4eYSpIz2FjU" href="#">Click me</a> -->

                           <% end %>
                      </ul> 
                    </div>   
                
				</div>   
    				
					     
             
              <div class="span8" id="qa">
                <h4>Possibly Related Questions</h4>
                <p>No Match Found</p>
                  
              </div> <!-- end of qa -->
		
           </div> <!-- End of row Fluid -->
  </div>
