<div class="container primary-stuffs">
<p>Virtual School where you can search video tutorials, ask questions or doubts, answer/disqus questions and    problems..
                          many other cool stuffs to speed up your Learning process! <strong> and of course you will have a lot 
                           of Fun doing that.</strong></p>
<h1>Why Virtual School ?</h1>
<div class="tabbable">
    							<ul class="nav nav-tabs">
    								<li class="active"><a href="#1" data-toggle="tab">Learn</a></li>
    								<li><a href="#2" data-toggle="tab">Share</a></li>
								<li><a href="#3" data-toggle="tab">Have Fun</a></li>
    							</ul>
    							<div class="tab-content">
    								<div class="tab-pane active" id="1">
    									<p>Because, It's Easy to Learn from Video Tutorials, available freely from the 
									reputed YouTube Channels like Khan Academy</p>
									<img src="http://www.2webvideo.com/images/learning-video-easy-fun.jpg" alt="learn from video"/>
    								</div>
    								<div class="tab-pane" id="2">
    									<p>Q&A provides an easy platform to share and discuss things together with your 
									friends in a much better way! </p>
									<img src = "http://www.dailyblogtips.com/wp-content/uploads/questionsandanswers.jpg" alt="q&a"/>
    								</div>
								<div class="tab-pane" id="3">
									<p>And Most important thing - it's Fun, Learning becomes more easy when it has more Fun :)</p>
									<img src="http://www.magnificentdollars2.com/wp-content/uploads/15_5_orig.gif" />							                                               	</div>	
                     					</div>
    						</div> 
</div>                            