<div class="container primary-stuffs">	
	    <div class="row-fluid primary-stuffs">
          <div class="span4">..Side Bar.
          	<h1>Testing Element</h1>
          	<h1>Testing Element</h1>
          	<h1>Testing Element</h1>
          	<h1>Testing Element</h1>
          </div>
          <div class="span8">..Q & A content.<h1>Testing Element</h1><h1>Testing Element</h1>


<%= image_tag('any-questions.jpg') %>

		          <a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
        </div>
</div>		
