<div class="container" id="primary-stuffs">	
          <div class="row-fluid">   
             <div class="span4" id="video-search">
    				    <h4>Search Videos</h4>
               <form action = "/search" id="yt-search-box">
                          <input type="text" name="keyword" id="ytSearchBox" placeholder="Type and Hit Enter" required/>
                       </form> 
					   </div>   
					     
             
           <div class="span8" id="qa">
            <%= image_tag('any-questions.jpg') %>

		          <a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
           </div>
          </div> 
  </div>
